<div class="jumbotron">
    <div class="container" 
        fxLayout="row wrap" 
        fxLayoutAlign="space-between center" 
        fxLayoutAlign.lt-md="center center">
        <div class="about" fxFlex="0 100 auto">
            <p class="header">ABOUT US :</p>
            <div class="about-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a lacus vel justo fermentum bibendum non
                    eu ipsum. Cras porta malesuada eros, eget blandit
                    turpis suscipit at. Vestibulum sed massa in magna sodales porta. Vivamus elit urna,
                    dignissim a vestibulum.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a lacus vel justo fermentum bibendum non
                    eu ipsum.
                    Cras porta malesuada eros, eget blandit turpis suscipit at. Vestibulum sed massa in magna sodales
                    porta. Vivamus elit urna, dignissim a vestibulum.
                </p>
            </div>
        </div>
        <div class="logo">
            <img src="/assets/logo/about-logo.jpg">
        </div>
        <div class="flex btns">
            <div class="flex btn">
                <span><img src="/assets/icons/apple.svg"></span>
                <div class="btn-text">
                    <div>Download on the</div>
                    <div>App Store</div>
                </div>
            </div>
            <div class="flex btn">
                <span><img src="/assets/icons/google.svg"></span>
                <div class="btn-text">
                    <div>Get it on</div>
                    <div>Google Play</div>
                </div>
            </div>
        </div>
    </div>
</div>