<div class="jumbotron">
    <p class="header">THE MEANING OF OUR ICONS :</p>
    <div class="icons" fxLayoutAlign="center center">
        <div class="icon">
            <img src="/assets/icons/spicy-big.svg">
            <p>Spicy</p>
        </div>
        <div class="icon">
            <img src="/assets/icons/vegetarian-big.svg">
            <p>Vegetarian</p>
        </div>
        <div class="icon">
            <img src="/assets/icons/vegan-big.svg">
            <p>Vegan</p>
        </div>
    </div>
</div>
