@import "../../../styles/variables.scss";

.container {
    margin: 90px auto 0;
    max-width: 1200px;

    .header {
        &:not(:last-child) {
            text-align: center;
            letter-spacing: 2px;
        }
        &:last-child {
            letter-spacing: 1.3px;
            margin: 60px 0 10px 35px;
        }
    }

    .chef-container {
        padding-top: 10px;
        margin: auto;

        .chef-image {
            background-image: url("../../../assets/chef-of-the-week/chef.jpg");
            background-size: cover;
            width: 430px;
            height: 340px;
            padding: 0;
            margin: 0 60px;
            display: flex;
            align-items: flex-end;

            .chef-name {
                width: 430px;
                height: 50px;
                font-size: 40px;
                font-family: $boldFont;
                letter-spacing: 1.5px;
                background-color: white;
                opacity: 0.8;
                text-align: center;
                padding: 15px;
            }
        }

        .chef-info {
            margin: 0;
            padding-right: 50px;
            letter-spacing: 1.6px;
            font-size: 25px;
            width: 540px;
        }
    }

    .chef-resto {
        margin: 60px 0 60px 30px;
        overflow: hidden;

        .header {
            text-align: start;
            margin: 10px;
        }

        .card-list {
            flex-wrap: wrap;
        }
    }
}

@media only screen and (max-width: 1150px) {
    .container {
        margin: 60px auto 0;
    }
    .chef-container {
        
        .chef-info {
            text-align: center;
            
        }
    }
}
