
.resto-filter {
    margin-top: 20px;
    justify-content: center;

    button {
        margin: 20px;
        font-size: 18px;
        letter-spacing: 2px;
    }
}

.container {
    margin: 10px auto;
    padding: 0 20px;
    max-width: 1150px;
    justify-content: flex-start;
    flex-wrap: wrap;
}