<p class="title" 
    fxLayoutAlign="center center" 
    fxHide.gt-xs>RESTAURANTS</p>
<div class="flex resto-filter" 
    fxLayoutAlign="center center">
    <button class="reset-btn" (click)="getAllResto()">All</button>
    <button class="reset-btn" (click)="getNewResto()">New</button>
    <button class="reset-btn" (click)="getPopularResto()">Most Popular</button>
    <button class="reset-btn">Open Now</button>
</div>
<div class="container" 
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    [ngStyle.lt-sm]="{'padding': 0 }">
    <app-card *ngFor="let restaurant of restaurants" 
        [cardData]="restaurant" 
        [cardClass]="'resto-page'">
    </app-card>
</div>